/* SECTION 4 : Ordination */
.blueCont{
    background-color: #3c64c2;
    width: 70vw;
    height: 300px;
    position: absolute;
    right: 0;
  }
  .ordination {
    color: #fff;
    padding: 50px;
  }
  .ordination .ordi-modal {
    background-color: #fff;
    color: #3c64c2;
    text-align: center;
    margin: auto;
    display: block;
  }
  