@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

$primary-color: #62C2CE;
$secondary-color: #3c64c2;

$back-color: #fff;
$light-back-color: #F4F4F4;
$light-back-color2: #F7FEF8;
$grey-back-color: #F4F4F4;
$shadow-color: #1940E5;

/* FONT COLORS*/
$primary-font-color: #808D9C;
$secondary-font-color: #000;

/* FONT DETAILS */
$main-font: 'Roboto Condensed', sans-serif;
$headerSize: 1.8em;

/* SHADOWS */
$shadow: 0 0 15px rgba(0, 0, 0, 0.1);
/* MARGIN FOR SECTIONS */
$section-margin: 5em 1em;

/* CTA and Secondary BUTTONS*/
$ctaColor: $primary-color;
$ctaPadding: 8px 20px;
$ctaSize: 1.2em;
$ctaBorder: none;
$secBtn: 1em;

/* breakpoints for MEDIA QUERIES */
@mixin for-mobile-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop {
    @media (min-width: 1800px) { @content; }
  }


/* mixin function for box shadows */
@mixin main-box-shadow($x, $y, $blur, $c){ 
    -webkit-box-shadow: $x, $y, $blur, $c;
    -moz-box-shadow: $x, $y, $blur, $c;
    -ms-box-shadow: $x, $y, $blur, $c;
    box-shadow: $x, $y, $blur, $c;
  }

body{
    margin: auto 0;
    font-family: $main-font;
    color: $primary-font-color;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $primary-font-color;
    font-size: 1.5em;
    position: relative;
    padding: 8px 0px;
}
p{
    font-size: 1.2em;
}
/* STYLE THE HOVER ANIMATION FOR NAV BAR*/
.main-nav{
    .navUnderline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $primary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navUnderline:hover:after { 
    width: 100%; 
    left: 0; 
  }
}
.ctaBtn{
    border-radius: 2px;
    background-color: $ctaColor;
    padding: $ctaPadding;
    color: $back-color;
    font-size: $ctaSize;
    border: $ctaBorder;
    box-shadow: $shadow;
}
.ctaBtn::after{
    transition: 1s;
}
.ctaBtn:hover::after{
    content: "  >";
    color: $back-color;
    transition: width 1s ease 0s, left 1s ease 0s;
}
/* NAV */
.nav-white{
    background-color: $back-color;
    box-shadow: $shadow;
    transition: top 300ms ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.main-nav{
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
    height: 60px;
    justify-content: center;
    align-items: center;
    @include for-mobile-only{
        display: none;
    }
    @include for-tablet-portrait{
        font-size: 1em;
    }
    .contactNavBtn{
        border: 2px solid $primary-color;
        padding: 5px 20px;
        color: $primary-color;
    }
    .contactNavBtn:hover{
        background-color: $primary-color;
        color: $back-color;
    }
}
nav img{
    margin-top: 10px;
    width: 360px;
}
.main-nav li{
    padding: 20px;
    cursor: pointer;
}
.push{
    margin-right: auto;
}
.sidenav{
    display: none;
    @include for-mobile-only{
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        background-color: $primary-color;
        overflow-x: hidden;
        transition: 0.5s ease-out;
        padding-top: 60px;
        text-align:center;
    }
}
.sidenav a{
    @include for-mobile-only{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $back-color;
        display: block;
        transition: 0.3s;
    }
}
.sidenav a:hover{
    color: $secondary-color;
}
.sidenav .closebtn {
    @include for-mobile-only{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}
.openBtn{
    display: none;
    @include for-mobile-only{
        display: block;
        height: 60px;
        font-size: 40px;
        cursor: pointer; 
    }
}

/* COVER HERO */

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/Ordi-innen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-modal{
    text-align: center;
    box-shadow: $shadow;
    background-color: $back-color;
    width: 40vw;
    height: auto;
    padding: 50px;
    @include main-box-shadow(5px, 5px, 30px, $shadow-color);
    h1{
        font-size: 1.8em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    p{
        font-size: 1.3em;
    }
}
/* FOOTER */
footer{
    bottom: 0;
    margin: 0;
    position: relative;
    background-color: $primary-color;
    color: $back-color;
    padding: 2em;
    text-align: center;
    @include for-tablet-landscape{
        display: flex;
        justify-content: space-around;    
    }
    @include for-desktop{
        display: flex;
        justify-content: space-around;    
    }
    @include for-big-desktop{
        display: flex;
        justify-content: space-around;    
    }
}
#footerLogo{
    width: 220px;
    height: auto;
    @include for-tablet-portrait{
        width: 250px;
        height: auto;
    }
    @include for-tablet-landscape{
        margin-top: 15px;
        width: 250px;
        height: auto; 
    }
    @include for-desktop{
        margin-top: 15px;
        width: 300px;
        height: auto;
    }
    @include for-big-desktop{
        margin-top: 15px;
        width: 300px;
        height: auto;
    }
}

/* SECTION 1 : Meine Leistungen */
#leistungen{
    display: flex;
    text-align: center;
    margin-bottom: -1.5em;
    height: 90vh;
    background-color: $back-color;
    h2{
        color: $secondary-color;
        padding: 40px 0px 0px 0px;
        font-size: 1.8em;
        font-weight: normal;
        }
    .leistungenBtn{
        padding: $ctaPadding;
        background-color: $secondary-color;
        color: $back-color;
        font-size: $secBtn;
        border: $ctaBorder;
        box-shadow: $shadow;
        cursor: pointer;
    }
    @include for-tablet-landscape{
        display: flex;
        flex-direction: row;
    }
    li{
        list-style: none;
        line-height: 150%;
        font-size: 1.1em;

    }
    .serviceBox1{
        background-color: $back-color;
        width: 40vw;
        padding: 6em 2em 2em 2em;
    }
    .serviceBox2{
        background-color: $grey-back-color;
        padding: 6em 2em 2em 2em;
        display: flex;
        width: 60vw;
        text-align: left;
         img{
          width: 50px;
          height: auto;
        }
        h3{
          color: $secondary-color;
        }
    
}

  }
/* SECTION 2 : Meine Werte */

#werte{
    background-color: $secondary-color;
    color: $back-color;
    text-align: center;
    h2{
        color: $primary-color;
        padding: 40px 0px 0px 0px;
        font-size: $headerSize;
        font-weight: normal;
    }
    .valueCont{
        display: flex;
        flex-direction: row;
        padding: 10px 40px 80px 40px;
        justify-content: center;
        @include for-tablet-portrait{
            display: flex;
            flex-direction: row;
        }
        @include for-tablet-landscape{
            display: flex;
            flex-direction: row;
        }
        @include for-mobile-only{
            display: block;
        }
        img{
            width: 50px;
            height: auto;
        }
        .valueBox{
            margin: 0 2em 0 2em;
        }
    }
}

/* SECTION 3 : Über mich */

#ueberMich{
    background-color: $back-color;
    padding-top: 50px;
    position: relative;
    margin-bottom: 5em;
    .greyCont{
        display: flex;
        background-color: $grey-back-color;
        width: 90vw;
        height: 400px;
    }
    h2{
        color: $primary-color;
        text-align: center;
        justify-self: flex-end;
        font-size: $headerSize;
        font-weight: normal;

    }
    p{
        width: 40vw;
        padding: 3em;
    }
    img{
        z-index: 3;
        width: 30vw;
        height: auto;
        justify-self: flex-start;
    }

    @include for-tablet-portrait{

    }
    @include for-tablet-landscape{
     
    }

}
/* SECTION 4 : Ordination */

#ordination{
    margin: $section-margin;
    color: $back-color;
    padding: 50px;
    position: relative;
}
    .blueCont{
        background-color: $secondary-color;
        width: 55vw;
        height: 500px;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    .ordiCont{
        display: flex;
        flex-direction: row;
        z-index: 3;
        margin-top: -50px;
        background-color: $back-color;
        color: $secondary-color;
        text-align: center;
        box-shadow: $shadow;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: 200px;
        .ordiDetailsCont{
         justify-self: flex-start;
         width: 200px;
            h2{
                margin: 1em;
                font-weight: normal;
            }
            p{
                margin: 1em;
                color: $primary-font-color;
            }
        }
        .ordiCardImg{
            justify-self: flex-end;
            height: 200px;
            width: auto;
            z-index: 5;
        }
    }

    .ordiCont2{
        display: flex;
        margin: 20px;
        margin-left: 8em;
        z-index: 3;
        img{
            height: 200px;
            width: auto;
            z-index: 3;
            margin: 10px;
        }
    }


/* SECTION 5 : Kontakt */
#kontakt{
    padding: $section-margin;
    background-color: $grey-back-color;
    text-align: center;
    height: 400px;
    .contactPhone{
        margin-bottom: 50px;
    }
    h2{
        font-size: $headerSize;
        font-weight: normal;
        color: $primary-color;
    }
}

/* SECTION 6 : Anfahrt und Öffnungszeiten */

#anfahrt{
    margin-bottom: 200px;
    padding: 50px;
    position: relative;
    h2{
        color: $back-color;
        font-weight: normal;
        font-size: $headerSize;
        margin-left: 2em;
    }
    .anfahrt-modal {
        background-color: $back-color;
        color: $secondary-color;
        text-align: center;
        display: flex;
        width: 700px;
        height: 300px;
        box-shadow: $shadow;
        margin-top: 7em;
        margin-left: 6em;
        img{
            width: auto;
            height: 300px;
            justify-self: flex-end;
        }
        .anfahrtDetailsCont{
            margin-right: 3em;
            padding: 1em;
        }
    }
    .hoursCont{
        background-color: $light-back-color;
        width: 300px;
        height: 100px;
        display: block;
        margin: auto;
        padding: .5em;
        text-align: center;
        z-index: 3;
        box-shadow: $shadow;
    }
    .blueCont2{
        background-color: $secondary-color;
        width: 55vw;
        height: 500px;
        position: absolute;
        left: 0;
        z-index: -1; 
        margin-bottom: 4em; 
    }
}
/* LEISTUNGEN SINGLE PAGE*/
.backBtn{
    border: 2px solid $primary-color;
    padding: 6px 20px;
    color: $primary-color;
    font-size: $ctaSize;
}
.backBtn:hover{
    background-color: $primary-color;
    color: $back-color;
}
.serviceBoxCont{
    padding: 0em 0em 4em 0em;
    line-height: 150%;
    width: 50vw;
    margin: 4em 1em;
    .secondBox{
        margin-top: 6em;
        padding-top: 4.5em;
    }
    ul{
        text-align: left;
    }
}
#parent{
    margin-top: 6em;
}
.leistungSection{
    background-color: $secondary-color;
    padding: 3em 2em;
}
.leistungSingleCont{
    width: 70vw;
    height: 70%;
    display: flex;
    margin: auto;
    padding: 3em;
    background-color: $back-color;
    box-shadow: $shadow;
}