@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

$primary-color: #62C2CE;
$secondary-color: #465960;
//#679592;
//#465960;
//#6283CE;
$ternary-color: #DDCBB5;
// #3c64c2;

$back-color: #fff;
$light-back-color: #F4F4F4;
$light-back-color2: #F7FEF8;
$grey-back-color: #F4F4F4;
$shadow-color: #1940E5;

/* FONT COLORS*/
$primary-font-color: #808D9C;
$secondary-font-color: #000;

/* FONT DETAILS */
$main-font: 'Roboto Condensed', sans-serif;
$headerSize: 1.8em;

/* SHADOWS */
$shadow: 0 0 15px rgba(0, 0, 0, 0.1);
/* MARGIN FOR SECTIONS */
$section-margin: 5em 1em;

/* CTA and Secondary BUTTONS*/
$ctaColor: $primary-color;
$ctaPadding: 8px 20px;
$ctaSize: 1.2em;
$ctaBorder: none;
$secBtn: 1em;

/* breakpoints for MEDIA QUERIES */
@mixin for-mobile-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait {
    @media only screen and (min-width: 600px) and (max-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape {
    @media only screen and (min-width: 600px) and (max-width: 1150px) { @content; }
  }
  @mixin for-desktop {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop {
    @media (min-width: 1800px) { @content; }
  }


/* mixin function for box shadows */
@mixin main-box-shadow($x, $y, $blur, $c){ 
    -webkit-box-shadow: $x, $y, $blur, $c;
    -moz-box-shadow: $x, $y, $blur, $c;
    -ms-box-shadow: $x, $y, $blur, $c;
    box-shadow: $x, $y, $blur, $c;
  }
html, body{
    max-width: 100%;
 //   overflow-x: hidden;
}
body{
    margin: auto 0;
    font-family: $main-font;
    color: $primary-font-color;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $primary-font-color;
    font-size: 1.2em;
    position: relative;
    padding: 8px 0px;
    @include for-tablet-landscape{
        font-size: 1.2em;
    }
}
p{
    font-size: 1.2em;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}
/* STYLE THE HOVER ANIMATION FOR NAV BAR*/
.main-nav{
    .navUnderline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $primary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navUnderline:hover:after { 
    width: 100%; 
    left: 0; 
  }
}
.ctaBtn{
    cursor: pointer;
    border-radius: 2px;
    background-color: $ctaColor;
    padding: $ctaPadding;
    color: $back-color;
    font-size: $ctaSize;
    border: $ctaBorder;
    box-shadow: $shadow;
}
/* .ctaBtn::after{
    transition: 1s;
}
.ctaBtn:hover::after{
    content: "  >";
    color: $back-color;
    transition: width 1s ease 0s, left 1s ease 0s;
} */
/* NAV */
.nav-white{
    transition: top 300ms ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.white{
    background-color: $back-color;
    box-shadow: $shadow;
}
.main-nav{
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
    height: 60px;
    justify-content: center;
    align-items: center;
    @include for-mobile-only{
        display: none;
    }
    @include for-tablet-landscape{
        font-size: 1.1em;
    }
    @include for-tablet-portrait{
        font-size: 1em;
    }
}
.contactNavBtn{
    border: 2px solid $primary-color;
    padding: 5px 20px;
    color: $primary-color;
}
.contactNavBtn:hover{
    background-color: $primary-color;
    color: $back-color;
}
nav img{
    margin-top: 10px;
    width: 360px;
}
.main-nav li{
    padding: 20px;
    cursor: pointer;
}
.push{
    margin-right: auto;
}
/* MOBILE NAV */
.sidenav{
    display: none;
    @include for-mobile-only{
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        background-color: $back-color;
        overflow-x: hidden;
        transition: 0.5s ease-out;
        padding-top: 60px;
        text-align:center;
        .contactNavBtn{
            text-align: center;
            width: 100px;
            margin: auto;
            display: block;
        }
    }
    img{
        width: 50px;
    }
}
.sidenav a{
    @include for-mobile-only{
        text-decoration: none;
        font-size: 25px;
        color: $primary-font-color;
        display: block;
        transition: 0.3s;
    }
}
.sidenav a:hover{
    color: $primary-color;
}
.sidenav .closebtn {
    @include for-mobile-only{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 60px;
        margin-left: 50px;
    }
}
.openBtn{
    display: none;
    @include for-mobile-only{
        background-color: $back-color;
        padding-left: 20px;
        display: block;
        height: 60px;
        font-size: 40px;
        cursor: pointer; 
    }
}

/* COVER HERO */

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("images/Ordi-innen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-modal{
    text-align: center;
    box-shadow: $shadow;
    background-color: $back-color;
    width: 40vw;
    height: auto;
    padding: 50px;
    @include main-box-shadow(5px, 5px, 30px, $shadow-color);
    @include for-mobile-only{
        width: 80vw;
    }
    h1{
        font-size: 2em;
        font-weight: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    p{
        font-size: 1.5em;
    }
}
/* FOOTER */
footer{
    bottom: 0;
    margin: 0;
    position: relative;
    background-color: $primary-color;
    color: $back-color;
    padding: 2em;
    text-align: center;
    @include for-tablet-landscape{
        display: flex;
        justify-content: space-around;    
    }
    @include for-desktop{
        display: flex;
        justify-content: space-around;    
    }
    @include for-big-desktop{
        display: flex;
        justify-content: space-around;    
    }
    .impressumLink{
        color: $back-color;
        font-size: 20px;
        transition: .4s;
    }
    .impressumLink:hover{
        color: $primary-font-color;
    }
}
#footerLogo{
    width: 220px;
    height: auto;
    @include for-tablet-portrait{
        width: 250px;
        height: auto;
    }
    @include for-tablet-landscape{
        margin-top: 15px;
        width: 250px;
        height: auto; 
    }
    @include for-desktop{
        margin-top: 15px;
        width: 300px;
        height: auto;
    }
    @include for-big-desktop{
        margin-top: 15px;
        width: 300px;
        height: auto;
    }
}

/* SECTION 1 : Meine Leistungen */
#leistungen{
    display: flex;
    text-align: center;
    margin-bottom: -1.5em;
    height: 90vh;
    background-color: $back-color;
    h2{
        color: $secondary-color;
        }
    .leistungenBtn{
        padding: $ctaPadding;
        background-color: $secondary-color;
        color: $back-color;
        font-size: $secBtn;
        border: $ctaBorder;
        box-shadow: $shadow;
        cursor: pointer;
    }
    @include for-mobile-only{
        display: block;
        height: auto;
    }
    @include for-tablet-landscape{
        display: flex;
        flex-direction: row;
    }
    li{
        list-style: none;
        line-height: 150%;
        font-size: 1.1em;

    }
    .serviceBox1{
        background-color: $back-color;
        width: 40vw;
        padding: 6em 2em 2em 2em;
        @include for-mobile-only{
            width: auto;
            padding: 1em 1em 3em 1em;
        }
    }
    .serviceBox2{
        background-color: $grey-back-color;
        padding: 6em 4em 2em 2em;
        display: flex;
        width: 60vw;
        text-align: left;
         img{
          width: 50px;
          height: auto;
        }
        h3{
          color: $secondary-color;
        }
        @include for-mobile-only{
            display: block;
            padding: 2em;
            width: auto;
            div{
                width: 70vw;
            }
        }
        @include for-tablet-landscape{
            display: block;
            padding: 2em;
            width: 50vw;
            li{
                display: block;
            }
        }
    
    }
}
/* SECTION 2 : Meine Werte */

#werte{
    background-color: $primary-color;
    color: $back-color;
    text-align: center;
    h2{
        color: $back-color;
        padding: 40px 0px 0px 0px;

    }
    .valueCont{
        display: flex;
        flex-direction: row;
        padding: 10px 40px 80px 40px;
        justify-content: center;
        @include for-tablet-portrait{
            display: flex;
            flex-direction: row;
        }
        @include for-tablet-landscape{
            display: flex;
            flex-direction: row;
        }
        @include for-mobile-only{
            display: block;
        }
        img{
            width: 50px;
            height: auto;
        }
        .valueBox{
            margin: 0 2em 0 2em;
        }
    }
}

/* SECTION 3 : Über mich */

#ueberMich{
    margin-top: 5em;
    background-color: $back-color;
    padding-top: 100px;
    position: relative;
    margin-bottom: 5em;
    .greyCont{
        display: flex;
        background-color: $grey-back-color;
        width: 90vw;
        height: 1000px;
    }
    h2{
        margin-top: 2em;
        color: $primary-color;
        text-align: center;
        justify-self: flex-end;
    }
    p{
        width: 40vw;
        padding: 2em 3em 1em 3em;
    }
    @include for-mobile-only{
        p{
            width: 80vw;
            padding: 1em;
        }
    }
    .signImg{
        z-index: 3;
        width: 200px;
        height: auto;
        padding: 0em 3em;
        @include for-mobile-only{
            padding: 1em;
        }
    }
    .stefanImg{
        z-index: 3;
        margin-top: 8em;
        width: 35vw;
        height: auto;
        justify-self: flex-start;
        @include for-mobile-only{
            width: 70vw;
            height: auto;
            margin: auto;
            display: block;
        }
    }

    @include for-tablet-portrait{

    }
    @include for-tablet-landscape{
     
    }
    @include for-mobile-only{
        img{
            display: block;
            width: 80vw;
            height: auto;
            margin: auto;
        }
        .greyCont{
            background-color: $back-color;
            display: block;
            height: auto;
        }
    }

}
/* SECTION 4 : Ordination */

#ordination{
    color: $back-color;
    padding: 50px;
    position: relative;
    @include for-mobile-only{
        padding-top: 2em;
    }
}
.ordiSection{
    margin-top: 7em;

}
    .blueCont{
        background-color: $secondary-color;
        width: 60vw;
        height: 600px;
        position: absolute;
        right: 0;
        top: 2em;
        bottom: 4em;
        z-index: -1;
        @include for-mobile-only{
            width: 100vw;
        }
    }
    .ordiCont{
        display: flex;
        flex-direction: row;
        z-index: 3;
        margin-top: -50px;
        background-color: $back-color;
        color: $secondary-color;
        text-align: center;
        box-shadow: $shadow;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        height: 200px;
        @include for-mobile-only{
            display: block;
            width: 300px;
            margin-top: 5em;
            margin: auto;
        }
        .ordiDetailsCont{
         justify-self: flex-start;
         width: 350px;
         @include for-mobile-only{
             padding: 1em;
             margin: 0;
             width: 300px;
             display: block;
         }
            h2{
                margin: 1em;
            }
            p{
                margin: 1em;
                color: $primary-font-color;
                white-space: pre-line;
            }
        }
        .ordiCardImg{
            justify-self: flex-end;
            height: 200px;
            width: auto;
            z-index: 5;
            @include for-mobile-only{
                width: 250px;
                height: auto;
            }
        }
    }

    .ordiCont2{
        display: flex;
        margin: 20px;
        margin-left: 8em;
        z-index: 3;
        @include for-mobile-only{
            display: block;
            margin: 0;
        }
        img{
            height: 200px;
            width: auto;
            z-index: 3;
            margin: 10px;
            @include for-mobile-only{
                margin: 0;
                width: 250px;
                height: auto;
            }
        }
    }
.ordiImg{
    height: 250px;
    width: auto;
    margin-left: 22em;
    display: block;
    @include for-mobile-only{
        width: 70vw;
        height: auto;
    }
}

/* SECTION 5 : Kontakt */
#kontakt{
    margin-top: 8em;
    padding: $section-margin;
    background-color: $grey-back-color;
    text-align: center;
    height: 400px;
    .contactCont{
        margin-top: 5em;
        margin-bottom: 50px;
    }
    h2{
        color: $primary-color;
        margin-bottom: 2em;
    }
    p{
        font-size: 1.3em;
    }

}

/* SECTION 6 : Anfahrt und Öffnungszeiten */

#anfahrt{
    margin-top: 1em;
    margin-bottom: 200px;
    padding: 100px;
    position: relative;
    @include for-mobile-only{
        margin-bottom: 50px;
        padding: 20px;

    }
    h2{
        color: $back-color;
        margin-left: 2em;
    }
    .anfahrt-modal {
        background-color: $back-color;
        color: $secondary-color;
        text-align: center;
        display: flex;
        width: 800px;
        height: 400px;
        box-shadow: $shadow;
        margin-top: 7em;
        margin-left: 6em;
        iframe{
            width: 500px;
            height: 400px;
        }
        @include for-mobile-only{
            display: block;
            width: 80vw;
            height: auto;
            margin-top: 6em;
            margin-left: 0;
            .mapsCont{
                margin: auto;
                display: block;
                iframe{
                    width: 250px;
                    height: 400px;
                }
            }
        }
        img{
            width: auto;
            height: 300px;
            justify-self: flex-end;
        }
        .anfahrtDetailsCont{
            width: 700px;
            padding: 1.5em;
            @include for-mobile-only{
                width: 250px;
                margin: auto;
                display: block;
            }
        }
        .anfahrtText{
            font-size: 1em;
        }
    }
    .blueCont2{
        background-color: $secondary-color;
        width: 60vw;
        height: 600px;
        position: absolute;
        left: 0;
        z-index: -1; 
        margin-bottom: 4em; 
        @include for-mobile-only{
            width: 100vw;
        }
    }
}
/* LEISTUNGEN SINGLE PAGE*/
.leistungenPage{
    margin-top: 6em;
    .serviceBox2{
        display: flex;
        flex-direction: row;
    }
}
.backBtn{
    border: 2px solid $primary-color;
    padding: 6px 20px;
    color: $primary-color;
    font-size: $ctaSize;
    background-color: transparent;
    @include for-mobile-only{
        margin-bottom: .5em;
    }
}
.backBtn:hover{
    background-color: $primary-color;
    color: $back-color;
}

.serviceBoxCont{
    padding: 0em 0em 4em 0em;
    line-height: 150%;
    width: 50vw;
    margin: 4em 1em;
    ul{
        text-align: left;
    }
}
.leistungTitle{
    font-size: 1.5em;
    @include for-mobile-only{
        word-wrap: break-word;
    }
}

.leistungImg{
    width: 30vw;
    height: auto;
    @include for-mobile-only{
        width: 60vw;
    }
}
#parent{
    margin-top: 6em;
}
.leistungSection{
    background-color: $secondary-color;
    padding: 8em 2em;
    height: 600px;
    @include for-mobile-only{
        height: auto;
        padding: 1.5em;
    }
}
.leistungSingleCont{
    width: 60vw;
    height: auto;
    margin: auto;
    padding: 5em 8em;
    background-color: $back-color;
    box-shadow: $shadow;
    @include for-mobile-only{
        width: 70vw;
        padding: 1.5em;
        margin: auto;
        display: block;
    }
    @include for-tablet-portrait{
        padding: 3em;
        display: block;
    }
}
p.leistungCopy, p.leistungCopy2{
}
#serviceExtra{
    background-color: #fff;
    width: 40vw;
    padding: 4em 3em;
    @include for-mobile-only{
        width: auto;
        padding: 2em 3em;
    }
}
// ADD A WHITE CLASS FOR THE TEMPLATE

.grey{
    background-color: $grey-back-color;
}
.blue{
    background-color: $secondary-color;
}

// IMPRESSUM SITE 
#impressum{
    margin-top: 6em;
    div{
    padding: 2em 4em;
    background-color: $grey-back-color;
    }
    a{
        font-size: 20px;
        color: $primary-color;
    }
}