@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
/* FONT COLORS*/
/* FONT DETAILS */
/* SHADOWS */
/* MARGIN FOR SECTIONS */
/* CTA and Secondary BUTTONS*/
/* breakpoints for MEDIA QUERIES */
/* mixin function for box shadows */
html, body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: auto 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #808D9C;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #808D9C;
  font-size: 1.5em;
  position: relative;
  padding: 8px 0px;
}

p {
  font-size: 1.2em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

/* STYLE THE HOVER ANIMATION FOR NAV BAR*/
.main-nav .navUnderline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #62C2CE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.main-nav .navUnderline:hover:after {
  width: 100%;
  left: 0;
}

.ctaBtn {
  cursor: pointer;
  border-radius: 2px;
  background-color: #62C2CE;
  padding: 8px 20px;
  color: #fff;
  font-size: 1.2em;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* .ctaBtn::after{
    transition: 1s;
}
.ctaBtn:hover::after{
    content: "  >";
    color: $back-color;
    transition: width 1s ease 0s, left 1s ease 0s;
} */
/* NAV */
.nav-white {
  transition: top 300ms ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.white {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding: 20px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .main-nav {
    display: none;
  }
}
@media (min-width: 600px) {
  .main-nav {
    font-size: 1em;
  }
}
.main-nav .contactNavBtn {
  border: 2px solid #62C2CE;
  padding: 5px 20px;
  color: #62C2CE;
}
.main-nav .contactNavBtn:hover {
  background-color: #62C2CE;
  color: #fff;
}

nav img {
  margin-top: 10px;
  width: 360px;
}

.main-nav li {
  padding: 20px;
  cursor: pointer;
}

.push {
  margin-right: auto;
}

.sidenav {
  display: none;
}
@media (max-width: 599px) {
  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s ease-out;
    padding-top: 60px;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #808D9C;
    display: block;
    transition: 0.3s;
  }
}

.sidenav a:hover {
  color: #62C2CE;
}

@media (max-width: 599px) {
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
  }
}

.openBtn {
  display: none;
}
@media (max-width: 599px) {
  .openBtn {
    margin-left: 20px;
    display: block;
    height: 60px;
    font-size: 40px;
    cursor: pointer;
  }
}

/* COVER HERO */
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("images/Ordi-innen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-modal {
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 40vw;
  height: auto;
  padding: 50px;
  -webkit-box-shadow: 5px, 5px, 30px, #1940E5;
  -moz-box-shadow: 5px, 5px, 30px, #1940E5;
  -ms-box-shadow: 5px, 5px, 30px, #1940E5;
  box-shadow: 5px, 5px, 30px, #1940E5;
}
@media (max-width: 599px) {
  .cover-modal {
    width: 80vw;
  }
}
.cover-modal h1 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.cover-modal p {
  font-size: 1.5em;
}

/* FOOTER */
footer {
  bottom: 0;
  margin: 0;
  position: relative;
  background-color: #62C2CE;
  color: #fff;
  padding: 2em;
  text-align: center;
}
@media (min-width: 900px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1800px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
}

#footerLogo {
  width: 220px;
  height: auto;
}
@media (min-width: 600px) {
  #footerLogo {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 900px) {
  #footerLogo {
    margin-top: 15px;
    width: 250px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  #footerLogo {
    margin-top: 15px;
    width: 300px;
    height: auto;
  }
}
@media (min-width: 1800px) {
  #footerLogo {
    margin-top: 15px;
    width: 300px;
    height: auto;
  }
}

/* SECTION 1 : Meine Leistungen */
#leistungen {
  display: flex;
  text-align: center;
  margin-bottom: -1.5em;
  height: 90vh;
  background-color: #fff;
}
#leistungen h2 {
  color: #465960;
  padding: 40px 0px 0px 0px;
}
#leistungen .leistungenBtn {
  padding: 8px 20px;
  background-color: #465960;
  color: #fff;
  font-size: 1em;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (max-width: 599px) {
  #leistungen {
    display: block;
    height: auto;
  }
}
@media (min-width: 900px) {
  #leistungen {
    display: flex;
    flex-direction: row;
  }
}
#leistungen li {
  list-style: none;
  line-height: 150%;
  font-size: 1.1em;
}
#leistungen .serviceBox1 {
  background-color: #fff;
  width: 40vw;
  padding: 6em 2em 2em 2em;
}
@media (max-width: 599px) {
  #leistungen .serviceBox1 {
    width: auto;
    padding: 1em 1em 3em 1em;
  }
}
#leistungen .serviceBox2 {
  background-color: #F4F4F4;
  padding: 6em 2em 2em 2em;
  display: flex;
  width: 60vw;
  text-align: left;
}
#leistungen .serviceBox2 img {
  width: 50px;
  height: auto;
}
#leistungen .serviceBox2 h3 {
  color: #465960;
}
@media (max-width: 599px) {
  #leistungen .serviceBox2 {
    display: block;
    padding: 2em;
    width: auto;
  }
  #leistungen .serviceBox2 div {
    width: 70vw;
  }
}

/* SECTION 2 : Meine Werte */
#werte {
  background-color: #62C2CE;
  color: #fff;
  text-align: center;
}
#werte h2 {
  color: #fff;
  padding: 40px 0px 0px 0px;
}
#werte .valueCont {
  display: flex;
  flex-direction: row;
  padding: 10px 40px 80px 40px;
  justify-content: center;
}
@media (min-width: 600px) {
  #werte .valueCont {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  #werte .valueCont {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 599px) {
  #werte .valueCont {
    display: block;
  }
}
#werte .valueCont img {
  width: 50px;
  height: auto;
}
#werte .valueCont .valueBox {
  margin: 0 2em 0 2em;
}

/* SECTION 3 : Über mich */
#ueberMich {
  margin-top: 5em;
  background-color: #fff;
  padding-top: 50px;
  position: relative;
  margin-bottom: 5em;
}
#ueberMich .greyCont {
  display: flex;
  background-color: #F4F4F4;
  width: 90vw;
  height: 600px;
}
#ueberMich h2 {
  margin-top: 2em;
  color: #62C2CE;
  text-align: center;
  justify-self: flex-end;
}
#ueberMich p {
  width: 40vw;
  padding: 2em 3em;
}
@media (max-width: 599px) {
  #ueberMich p {
    width: 80vw;
    padding: 1em;
  }
}
#ueberMich img {
  z-index: 3;
  margin-top: 4em;
  width: 35vw;
  height: auto;
  justify-self: flex-start;
}
@media (max-width: 599px) {
  #ueberMich img {
    display: block;
    width: 80vw;
    height: auto;
    margin: auto;
  }
  #ueberMich .greyCont {
    background-color: #fff;
    display: block;
    height: auto;
  }
}

/* SECTION 4 : Ordination */
#ordination {
  color: #fff;
  padding: 50px;
  position: relative;
}
@media (max-width: 599px) {
  #ordination {
    padding-top: 2em;
  }
}

.ordiSection {
  margin-top: 7em;
}

.blueCont {
  background-color: #465960;
  width: 60vw;
  height: 600px;
  position: absolute;
  right: 0;
  top: 12em;
  z-index: -1;
}
@media (max-width: 599px) {
  .blueCont {
    width: 100vw;
  }
}

.ordiCont {
  display: flex;
  flex-direction: row;
  z-index: 3;
  margin-top: -50px;
  background-color: #fff;
  color: #465960;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 200px;
}
@media (max-width: 599px) {
  .ordiCont {
    display: block;
    width: 70vw;
    margin-top: 5em;
  }
}
.ordiCont .ordiDetailsCont {
  justify-self: flex-start;
  width: 350px;
}
@media (max-width: 599px) {
  .ordiCont .ordiDetailsCont {
    padding: 2em;
    margin: 0;
  }
}
.ordiCont .ordiDetailsCont h2 {
  margin: 1em;
}
.ordiCont .ordiDetailsCont p {
  margin: 1em;
  color: #808D9C;
}
.ordiCont .ordiCardImg {
  justify-self: flex-end;
  height: 200px;
  width: auto;
  z-index: 5;
}
@media (max-width: 599px) {
  .ordiCont .ordiCardImg {
    width: 250px;
    height: auto;
  }
}

.ordiCont2 {
  display: flex;
  margin: 20px;
  margin-left: 8em;
  z-index: 3;
}
@media (max-width: 599px) {
  .ordiCont2 {
    display: block;
    margin: 0;
  }
}
.ordiCont2 img {
  height: 200px;
  width: auto;
  z-index: 3;
  margin: 10px;
}
@media (max-width: 599px) {
  .ordiCont2 img {
    margin: 0;
    width: 250px;
    height: auto;
  }
}

.ordiImg {
  height: 250px;
  width: auto;
  margin-left: 22em;
  display: block;
}
@media (max-width: 599px) {
  .ordiImg {
    width: 70vw;
    height: auto;
  }
}

/* SECTION 5 : Kontakt */
#kontakt {
  padding: 5em 1em;
  background-color: #F4F4F4;
  text-align: center;
  height: 400px;
}
#kontakt .contactCont {
  margin-top: 5em;
  margin-bottom: 50px;
}
#kontakt h2 {
  color: #62C2CE;
}

/* SECTION 6 : Anfahrt und Öffnungszeiten */
#anfahrt {
  margin-bottom: 200px;
  padding: 50px;
  position: relative;
}
@media (max-width: 599px) {
  #anfahrt {
    margin-bottom: 50px;
  }
}
#anfahrt h2 {
  color: #fff;
  margin-left: 2em;
}
#anfahrt .anfahrt-modal {
  background-color: #fff;
  color: #465960;
  text-align: center;
  display: flex;
  width: 800px;
  height: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 7em;
  margin-left: 6em;
}
@media (max-width: 599px) {
  #anfahrt .anfahrt-modal {
    display: block;
    width: 80vw;
    height: auto;
    margin-top: 6em;
    margin-left: 0;
  }
  #anfahrt .anfahrt-modal .mapsCont {
    margin: auto;
    display: block;
  }
  #anfahrt .anfahrt-modal .mapsCont iframe {
    width: 250px;
    height: 400px;
  }
}
#anfahrt .anfahrt-modal img {
  width: auto;
  height: 300px;
  justify-self: flex-end;
}
#anfahrt .anfahrt-modal .anfahrtDetailsCont {
  width: 700px;
  padding: 1.5em;
}
@media (max-width: 599px) {
  #anfahrt .anfahrt-modal .anfahrtDetailsCont {
    width: auto;
    margin: 0;
  }
}
#anfahrt .anfahrt-modal .anfahrtText {
  font-size: 1em;
}
#anfahrt .hoursCont {
  background-color: #F4F4F4;
  width: 300px;
  height: 100px;
  display: block;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  z-index: 3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#anfahrt .blueCont2 {
  background-color: #465960;
  width: 55vw;
  height: 600px;
  position: absolute;
  left: 0;
  z-index: -1;
  margin-bottom: 4em;
}
@media (max-width: 599px) {
  #anfahrt .blueCont2 {
    width: 100vw;
  }
}

/* LEISTUNGEN SINGLE PAGE*/
.leistungenPage {
  margin-top: 6em;
}
.leistungenPage .serviceBox2 {
  display: flex;
  flex-direction: row;
}

.backBtn {
  border: 2px solid #62C2CE;
  padding: 6px 20px;
  color: #62C2CE;
  font-size: 1.2em;
}

.backBtn:hover {
  background-color: #62C2CE;
  color: #fff;
}

.serviceBoxCont {
  padding: 0em 0em 4em 0em;
  line-height: 150%;
  width: 50vw;
  margin: 4em 1em;
}
.serviceBoxCont ul {
  text-align: left;
}

.leistungTitle {
  font-size: 1.5em;
}

.leistungImg {
  width: 30vw;
  height: auto;
}

#parent {
  margin-top: 6em;
}

.leistungSection {
  background-color: #465960;
  padding: 8em 2em;
  height: 600px;
}

.leistungSingleCont {
  width: 60vw;
  height: auto;
  margin: auto;
  padding: 5em 8em;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#serviceExtra {
  background-color: #fff;
  width: 40vw;
  padding: 4em 3em;
}

.grey {
  background-color: #F4F4F4;
}

.blue {
  background-color: #465960;
}

/*# sourceMappingURL=style.css.map */
